<!-- <div class="card mt-5">
    <div class="card-header">
        Quote
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Nós somos aquilo que fazemos repetidamente. Excelência, então, não é um modo de agir, mas um hábito.”</p>
            <footer class="blockquote-footer">Aristóteles<cite title="Source Title"></cite></footer>
        </blockquote>
    </div>
</div> -->
<script src="../js/bootstrap.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/jquery-3.4.1.js"></script>
<script src="../js/configs.js"></script>
</body>

</html>