html, body{
    font-family: 'Open Sans', sans-serif;
}

body{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.301),#002884e8
    ),url('../img/891.jpg');
    background-size: cover;
}
.logo-full{
  margin-top:10px;
}
.logo-name h4{
/* margin-bottom:-10px; */
text-align: center;
color:white;
width: 80%;
border-bottom: 1px solid white;

}
.logo-name h5{

margin-top:-9px;
color:white;
}
.img-profile{
    border: 1px solid white;
}
.v-line{
  position: fixed;
  margin-left:28.8%;
  height: 600px;
  border-left:2px solid white;
}
.sec-itens h1{
  font-size: 25px;
  color:white;
  background-color:rgba(189, 180, 236, 0.253);
  border-bottom: 3px solid rgba(0, 0, 0, 0.363);
  border-radius: 5px;
  padding-left:7px;
  padding-right:7px;
  
}
.sec-itens h1:hover{
  font-size: 25px;
  color:white;
  background-color:rgba(178, 162, 255, 0.61);
  border-bottom: 3px solid white;
  border-radius: 5px;
  padding-left:7px;
  padding-right:7px;
  transition: 1s;
  
}
.sec-itens p{
  color:white;
}
li a{
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 5px;
    
}

li :hover{
    text-decoration: none;
    color: #000;
    background: white
}
#webdeveloper{
    margin-top: 200px;
    
}
#about, #contact{
  font-size: 1.2em;
  margin-top: 200px;
}


<<<<<<< HEAD
=======
.linha{
  border-bottom: 2px solid white;
  width: 20%;
  transition: all 3s;
}
.linha-active{
  border-bottom: 2px solid rgb(255, 255, 255);
  width: 100%;
 
}





>>>>>>> 1aa7ba108d2ffdc93824f0977fd2e0a9e06c8469
@media (min-width: 1281px) {
    
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
li a  {
   
    border:none;
    color: white;
    
}
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
li a  {
   
    border:none;
    color: white;
    
}

  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

li a  {
  
    border:none;
    color: white;
    text-transform: uppercase;

}
nav{
    background-color:#010d2952;
}

  
}