
h1{
    color: rgb(253, 227, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}
a{
    color: rgb(253, 227, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
a:hover{
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    transition: 0.5s;
     
    text-decoration: none;
}
body{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.301),rgba(115, 1, 160, 0.719)
    ),url('../img/chicago.jpg');

    background-size: cover;
}