<%- include('../partials/header') -%>
<div class="container">
    <div class="row" id="about">
        <div class="col text-white">
            <p>Há mais de 10 anos solucionando problemas e promovendo qualidade de serviço a clientes
                nacionais
                e internacionais, focado na geração de valor para o negocio e redução de custos em
                investimentos
                de TI e contratos de serviços, trabalhando com o que há de mais atual em tecnologia (Cloud
                computing, Bigdata, virtualização, automação de tarefas) e também com as tecnologias mais
                utilizadas pelo mercado (Office 365, Windows 10, CRM, ERP...) e para ampliar minhas
                habilidades
                também me desenvolvi em Front-End, Back-End e Mobile (HTML5, CSS3, JavaScript (ES6), Jquery,
                Bootstrap, NodeJS, ReactJS, C#, ASP.NET Core).
            </p>
        </div>
    </div>




</div>
<%- include('../partials/footer'); -%>