<%- include('../partials/header') -%>
<div class="container">
    <div class="row mt-5">
        <div class="col text-white">
            <h1>
                Participar e inovar, criar e fazer parte...
            </h1>
            <h3>
                Analista de Sistemas de formação com mais de 10 anos de experiencia em TI em empresas do Brasil e
                Exterior, trabalhado com equipes multiculturais.

                Forte capacidade em resolver problemas, habilidade com FRONT-END, BACK-END, DATABASE, conhecimento em
                Desenvolvimento hibrido React-Native
            </h3>
        </div>
    </div>



</div>

<script>
    $(document).ready(function () {
        $('body').addClass('about-body')
    })
</script>
<%- include('../partials/footer'); -%>