<%- include('../partials/header') -%>
<div class="container">

    <div class="row">
        <div class="col text-center text-white " id="contact">
            <p>tecjeferson@gmail.com</p>
            <hr class="border-white">
            <p>+55 21 97384 2858</p>
        </div>
    </div>


</div>
<%- include('../partials/footer'); -%>