<%- include('../partials/header') -%>


<div class="container mt-5" id="top">

    <div class="container text-white pb-5">
        <div class="row text-center">
            <div class="col mt-4  mb-1">
                <h1>JEFERSON VIEIRA DA ROCHA</h1>
                <h3>DESENVOLVEDOR E ANALISTA DE SISTEMAS</h3>
                <h5>tecjeferson@gmail.com</h5>
                <h5>+55 21 97384 5828</h5>
            </div>
        </div>


        <!-- inicio de curriculo -->
        <div class="container" id="itens">

            <!-- <div class="row text-center">
                <div class="col img-fluid">
                    <img src="./img/profile.jpg" class="img-fluid rounded-circle img-thumbnail" alt="Jeferson Rocha">
                </div>
            </div> -->




            <div class="row mt-4">
                <div class="col-10 col-md-3 col-lg-2">
                    <h4 class="">APRESENTAÇÃO</h4>
                </div>
                <div class="col-2 col-md-1 col-lg-1">
                    <div class="linha-vertical">

                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-9">
                    <p>Prover soluções para garantir que as ferramentas adequadas estejam funcionando da forma
                        correta,
                        ajudando aos clientes a obterem os resultados esperados. Solucionar problemas é o que sei
                        fazer
                        de melhor. </p>
                </div>
            </div>



            <div class="row mt-4">
                <div class="col-10 col-md-3 col-lg-2">
                    <h4>SOBRE</h4>
                </div>
                <div class="col-2 col-md-1 col-lg-1">
                    <div class="linha-vertical">

                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-9">
                    <p>Há mais de 10 anos solucionando problemas e promovendo qualidade de serviço a clientes
                        nacionais
                        e internacionais, focado na geração de valor para o negocio e redução de custos em
                        investimentos
                        de TI e contratos de serviços, trabalhando com o que há de mais atual em tecnologia (Cloud
                        computing, Bigdata, virtualização, automação de tarefas) e também com as tecnologias mais
                        utilizadas pelo mercado (Office 365, Windows 10, CRM, ERP...) e para ampliar minhas
                        habilidades
                        também me desenvolvi em Front-End, Back-End e Mobile (HTML5, CSS3, JavaScript (ES6), Jquery,
                        Bootstrap, NodeJS, ReactJS, C#, ASP.NET Core).
                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-10 col-md-3 col-lg-2">
                    <h4>IDIOMAS</h4>
                </div>
                <div class="col-2 col-md-1 col-lg-1">
                    <div class="linha-vertical">

                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-9">
                    <p>Português: <strong>Nativo</strong></p>
                    <p>Inglês: <strong>Fluente</strong></p>
                    <p>Espanhol: <strong>Pronúncia básica – Boa compreensão e leitura.</strong></p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-10 col-md-3 col-lg-2">
                    <h4>HABILIDADES</h4>
                </div>
                <div class="col-2 col-md-1 col-lg-1">
                    <div class="linha-vertical">

                    </div>
                </div>


                <div class="col-12 col-md-8 col-lg-9">
                    <p>Front-End(HTML, CSS, JavaScript, EJS, jQuery, Bootstrap)
                        Back-End (C#, ASP.NET Core, Node.JS, PHP)
                        Programação Mobile (React-Native)
                        MySQL
                        Eletrônica (Leitura de diagrama, montagem de circuitos eletrônicos, conceitos (AC/DC,
                        Retificação, Resistência...)
                        Limpeza de dados com R
                        Manipulação de dados com R
                        Plotagem de dados com R
                        Conhecimento em Python
                        Powershell
                        System Center Configuration Manager
                        Windows 10 , Server, Linux, Mac
                        Redes
                        Conhecimento em ITIL

                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-10 col-md-3 col-lg-2">
                    <h4>CURSOS</h4>
                </div>
                <div class="col-2 col-md-1 col-lg-1">
                    <div class="linha-vertical">

                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-9">
                    <p>FullStack Master NodeJS – DevPleno</p>
                    <p>RactJS - DevPleno</p>
                    <p>System Center Configuration Manager – QA – LONDRES </p>
                    <p>Insights Discovery Personal Profile – HOUSTON </p>
                    <p>Excelência no Atendimento- VENEZA </p>
                    <p>Big data Fundamentos 2.0 – DATA SCIENCE ACADEMY </p>
                    <p>Java e Orientação a Objetos – CAELUM </p>
                    <p>Introduction to R– DATACAMP </p>
                    <p>Intermediate R – DATACAMP </p>
                    <p>Introduction to the Tidyverse– DATACAMP </p>
                    <p>Standards of Training, Certification and Watchkeeping - MARINHA DO BRASIL </p>
                    <p> Administração de Vídeo Conferencia - REDE NACIONAL DE PESQUISA (RNP) </p>



                </div>
            </div>

            <div class="row mt-4">
                <div class="col-10 col-md-3 col-lg-2">
                    <h4>EXPERIENCIA</h4>
                    <h5 class="year">2014 - ATUAL</h5>
                </div>
                <div class="col-2 col-md-1 col-lg-1">
                    <div class="linha-vertical">

                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-9">
                    <h4>IT SUPPORT ANALYST - Configuration Manager Administrator</h4>
                    <h5>AVEVA ENGINEERING SOFTWARE FOR THE PLANT AND MARINE</h5>

                    <p>Trabalho em equipe de administração do Configuration Manager, com foco em Deployment,
                        Applications (Uninstall\Install\Collections, Criação de Script...), Software Center
                        entregando
                        serviço para todos os escritórios no mundo.
                    </p>
                    <p>
                        Trabalho em time global compartilhando informações e documentando tickets através do sistema
                        de chamados.
                    </p>

                    <p>
                        Responsável pelo suporte de toda América Latina com Office365, Hyper-V, VPN, atuando também
                        com Microsoft Server, roteadores, switch, aplicações internas de RH, Financeiro e equipe
                        técnica.
                    </p>
                    <p>
                        Suporte a usuários locais, home office e aos usuários de vários países da empresa
                    </p>
                    <p>
                        Assistência ao Gerente de TI em compra de Hardware, equipamentos, gestão de contratos de
                        serviços e mudanças de infraestrutura.
                    </p>
                    <p>
                        Auxílio em eventos com soluções para diversos tipos de necessidades.
                    </p>



                </div>
            </div>

            <div class="row mt-4">
                <div class="col-10 col-md-3 col-lg-2">
                    <h5 class="year">2013 - 2014</h5>
                </div>
                <div class="col-2 col-md-1 col-lg-1">
                    <div class="linha-vertical">

                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-9">
                    <h4>ANALISTA DE SISTEMAS ERP</h4>
                    <h5>KAISTUDO</h5>
                    <p>
                        Responsável por toda TI da e fazendo a ligação entre tecnologia x negócio com os sócios da
                        empresa, sugerindo novos procedimentos e investimentos.
                    </p>
                    <p>
                        Implementação de um sistema de comunicação interno.
                    </p>
                    <p>
                        Manter, atualizar e customizar sistemas ERP (Winthor \ Totvs) em funcionamento para as áreas
                        da empresa e para os mais de 45 Representantes Comerciais da empresa (RCA)
                    </p>
                    <p>
                        Manter, atualizar e customizar sistema de Vendas Maxima Sistemas em funcionamento para toda
                        a
                        equipe de RCAs da empresa
                    </p>
                    <p>
                        Treinamento de funcionários nas ferramentas de vendas e ERP
                    </p>
                    <p>
                        Treinamento de estagiário, gestão de contratos de prestação de serviços de TI
                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-10 col-md-3 col-lg-2">
                    <h5 class="year">2012 - 2013</h5>
                </div>
                <div class="col-2 col-md-1 col-lg-1">
                    <div class="linha-vertical">

                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-9">
                    <h4>ANALISTA DE SUPORTE BILÍNGUE</h4>
                    <h5>2014 FIFA World Cup Organising</h5>
                    <p>
                        Responsável pelo monitoramento do evento Copa das Confederações.
                    </p>
                    <p>
                        Suporte a usuários VIP em Português e Inglês
                    </p>
                    <p>
                        Trabalho em time multicultural.
                    </p>
                    <p>
                        Documentação de chamados via sistema de tickets
                    </p>
                    <p>
                        Suporte a laptop, Sistemas Windows, Redes.
                    </p>
                    <p>
                        Controle de ativos
                    </p>
                </div>
            </div>

            <div class="row mt-4 mb-5 pb-5">
                <div class="col-10 col-md-3 col-lg-2">
                    <h4>FORMAÇÃO</h4>
                    <h5 class="year">2013-2016</h5>
                </div>
                <div class="col-2 col-md-1 col-lg-1">
                    <div class="linha-vertical">

                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-9">
                    <h4>Graduação em Análise e Desenvolvimento de Sistemas</h4>
                    <h5>UNOPAR - Universidade Norte do Paraná</h5>
                </div>
            </div>


        </div>
        <%- include('../partials/footer'); -%>