<%- include('../partials/header') -%>
<div class="container mt-5" id="first-container">






    <div class="row mt-4">
        <div class="col-10 col-md-3 col-lg-2">
            <h4 class="">APRESENTAÇÃO</h4>
        </div>
        <div class="col-2 col-md-1 col-lg-1">
            <div class="linha-vertical">

            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9">
            <p>Prover soluções para garantir que as ferramentas adequadas estejam funcionando da forma
                correta,
                ajudando aos clientes a obterem os resultados esperados. Solucionar problemas é o que sei
                fazer
                de melhor.
            </p>
        </div>
    </div>



    <div class="row mt-4">
        <div class="col-10 col-md-3 col-lg-2">
            <h4>IDIOMAS</h4>
        </div>
        <div class="col-2 col-md-1 col-lg-1">
            <div class="linha-vertical">

            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9">
            <p>Português: <strong>Nativo</strong></p>
            <p>Inglês: <strong>Fluente</strong></p>
            <p>Espanhol: <strong>Pronúncia básica – Boa compreensão e leitura.</strong></p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-10 col-md-3 col-lg-2">
            <h4>HABILIDADES</h4>
        </div>
        <div class="col-2 col-md-1 col-lg-1">
            <div class="linha-vertical">

            </div>
        </div>


        <div class="col-12 col-md-8 col-lg-9">
            <p class="card-text">
                BACK-END DEVELOPER <br>
                FRONT-END DEVELOPER <br>
                SUPORTE A USUÁRIOS E APLICAÇÕES
            </p>
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-10 col-md-3 col-lg-2">
            <h4>EXPERIENCIA</h4>
            <h5 class="year">2014 - ATUAL</h5>
        </div>
        <div class="col-2 col-md-1 col-lg-1">
            <div class="linha-vertical">

            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9">
            <h4>IT SUPPORT ANALYST - Configuration Manager Administrator</h4>
            <h5>AVEVA ENGINEERING SOFTWARE FOR THE PLANT AND MARINE</h5>

        </div>
    </div>

    <div class="row mt-4">
        <div class="col-10 col-md-3 col-lg-2">
            <h5 class="year">2013 - 2014</h5>
        </div>
        <div class="col-2 col-md-1 col-lg-1">
            <div class="linha-vertical">

            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9">
            <h4>ANALISTA DE SISTEMAS ERP</h4>
            <h5>KAISTUDO</h5>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-10 col-md-3 col-lg-2">
            <h5 class="year">2012 - 2013</h5>
        </div>
        <div class="col-2 col-md-1 col-lg-1">
            <div class="linha-vertical">

            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9">
            <h4>ANALISTA DE SUPORTE BILÍNGUE</h4>
            <h5>2014 FIFA World Cup Organising</h5>

        </div>
    </div>

    <div class="row mt-4 mb-5 pb-5">
        <div class="col-10 col-md-3 col-lg-2">
            <h4>FORMAÇÃO</h4>
            <h5 class="year">2013-2016</h5>
        </div>
        <div class="col-2 col-md-1 col-lg-1">
            <div class="linha-vertical">

            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9">
            <h4>Graduação em Análise e Desenvolvimento de Sistemas</h4>
            <h5>UNOPAR - Universidade Norte do Paraná</h5>
        </div>
    </div>


</div>
















</div>
<%- include('../partials/footer'); -%>