<%- include('../partials/header') -%>
<div class="container mt-5" id="top">

    <div class="row mt-3 text-center">
        <div class="col">
            <img src="../img/profile2.jpg" class="rounded-circle img-profile" height="150">
        </div>
    </div>

    <!-- <div class="v-line"></div> -->
    

    <section class="sec-itens">
        <div class="row mt-3">
            <div class="col-sm-12 col-md-6">
                <h1>
                    APRESENTAÇÃO
                </h1>
                
            </div>
            <div class="col-sm-12 col-md-6">
                <p>
                    Há mais de 10 anos solucionando problemas
                    e promovendo qualidade de serviço a clientes
                    nacionais e internacionais, focado na geração
                    de valor para o negocio e redução de custos
                    em investimentos de TI e contratos de
                    serviços, trabalhando com o que há de mais
                    atual em tecnologia
                </p>
            </div>
        </div>
        <div class="row mt-3" >
                <div class="col-sm-12 col-md-6 text-left">
                    <h1>
                        HABILIDADES
                    </h1>
                </div>
                <div class="col-sm-12 col-md-6">
                        <p>
                            BACK-END DEVELOPER <br>
                            FRONT-END DEVELOPER <br>
                            SUPORTE A USUÁRIOS E APLICAÇÕES
                        </p>
                        <canvas id="myChart" height="60"></canvas>
                    </div>
            </div>
        <div class="row mt-3">
                 <div class="col-sm-12 col-md-6 text-left">
                <h1>EXPERIENCIA</h1>
            </div>
            <div class="col-sm-12 col-md-6">
                <p>
                    <strong>IT SUPPORT ANALYST - 2014 - ATUAL</strong><br>
                    <em>AVEVA ENGINEERING SOFTWARE FOR THE PLANT AND MARINE</em>
                </p>
                <p>
                    <strong>IT SUPPORT ANALYST - 2014 - ATUAL</strong><br>
                    <em>AVEVA ENGINEERING SOFTWARE FOR THE PLANT AND MARINE</em>
                </p>
                <p>
                    <strong>IT SUPPORT ANALYST - 2014 - ATUAL</strong><br>
                    <em>AVEVA ENGINEERING SOFTWARE FOR THE PLANT AND MARINE</em>
                </p>
                <p>
                    <strong>IT SUPPORT ANALYST - 2014 - ATUAL</strong><br>
                    <em>AVEVA ENGINEERING SOFTWARE FOR THE PLANT AND MARINE</em>
                </p>
                
                
               
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-12 col-md-6">
                <h1>
                    IDIOMAS
                </h1>
            </div>
            <div class="col-sm-12 col-md-6">
                <p>
                    INGLÊS - FLUENTE<br>
                    PORTUGUÊS - NATIVO<br>
                    ESPANHOL - BASICO - INTERMEDIARIO
                </p>
            </div>
        </div>
        
    </section>

</div>
<%- include('../partials/footer'); -%>