<%- include('../partials/header') -%>
<div class="container mt-5" id="top">

    <div class="row text-center">
        <div class="col">
            <img src="../img/profile2.jpg" class="rounded-circle img-profile" height="150">
        </div>
    </div>

    <div class="v-line"></div>

    <section class="sec-itens">
        <div class="row mt-5">
            <div class="col">
                <h1>
                    APRESENTAÇÃO
                </h1>
                <p>
                    Há mais de 10 anos solucionando problemas
                    e promovendo qualidade de serviço a clientes
                    nacionais e internacionais, focado na geração
                    de valor para o negocio e redução de custos
                    em investimentos de TI e contratos de
                    serviços, trabalhando com o que há de mais
                    atual em tecnologia
                </p>
            </div>
            <div class="col text-right">
                <h1>EXPERIENCIA</h1>
                <p>
                    IT SUPPORT ANALYST - 2014 - ATUAL
                </p>
                <p>
                    AVEVA ENGINEERING SOFTWARE FOR THE PLANT AND MARINE
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h1>
                    IDIOMAS
                </h1>
            </div>
            <div class="col text-right">
                <h1>
                    HABILIDADES
                </h1>
            </div>
        </div>
    </section>

</div>
<%- include('../partials/footer'); -%>