<%- include('../partials/header') -%>
<div class="container" id="cloud">
    <div class="row" id="cloud">
        <div class="col text-center text-white " id="webdeveloper">
            <h1 class="display-4">JEFERSON ROCHA</h1>
            <hr class="border-white">
            <h2 class="display-5">WEB DEVELOPER</h2>
        </div>
    </div>



</div>
<%- include('../partials/footer'); -%>