<%- include('../partials/header') -%>

<div class="container  mt-5">
    <div class="row text-center">
        <div class="col">
            <h1>Página em desenvolvimento</h1>
        </div>
    </div>
    <div class="row text-center">
         <div class="col-sm-12">
            <h1>Acesse a versão antiga em: <a href="http://www.jefersonvrocha.com.br">www.jefersonvrocha.com.br</a></h1>
        </div>
    </div>
</div>
<%- include('../partials/footer'); -%>