<%- include('../partials/header') -%>

<div class="container  mt-5">
    <div class="row text-center display-5">
        <div class="col">
            <h1>Página em desenvoldimento</h1>
           
        </div>
    </div>
</div>
<%- include('../partials/footer'); -%>